catboost_info
data
ml_contests/bin_pred_painfall/ml_env

__pycache__/
*.py[cod]
*.so

venv/
env/
.venv/
.env/

.ipynb_checkpoints/

.DS_Store
Thumbs.db

*.log

.vscode/

*.h5
*.pth
*.pt
*.ckpt

data/
*.csv
*.zip
*.tar
*.gz

.cache/
*.pickle
*.pkl

build/
dist/
*.egg-info/
